/tiles-profiles
/*build*
/.pkg.mutex
/.clang-tidy
/.idea
*.zip
*.bin
*.pbf
*.csv
/osr
/delfi
/test/test_case_osr
/fasta.json
/adr.cista*
/data
/test/data
fasta.json
config.yaml
config.yml
config.ini

.vs/motis/v17/Browse.VC.db
